node_modules/
dist/
.env.local
.env
*.local

# Local Netlify folder
.netlify

resend api key.txt
*.txt
stripe cupon id.txt
ios/
Assets/
.netlify/
.env.local
ios/App/Pods/
ios/App/build/
android/app/build/.env.local.save
.env*.save
.DS_Store

keystore.properties

android/keystore.properties

_backups/
