node_modules/
dist/
.env.local
.env
*.local

# Local Netlify folder
.netlify

resend api key.txt
*.txt
stripe cupon id.txt
ios/
android/
Assets/
.netlify/
.env.local
ios/App/Pods/
ios/App/build/
android/app/build/